alembic==1.6.5
aiofiles==0.7.0
Authlib==0.15.5
aws-lambda-powertools==1.20.1
babel==2.9.1
boto3==1.18.31
bcrypt==3.2.2
fastapi==0.67.0
httpx==0.18.2
jinja2==3.0.1
itsdangerous==2.0.1
logzero==1.7.0
mangum==0.12.1
opentelemetry-api==1.7.1
opentelemetry-instrumentation-fastapi==0.26b1
opentelemetry-instrumentation-sqlalchemy==0.26b1
opentelemetry-sdk-extension-aws==2.0.1
psycopg2-binary==2.9.3
python-multipart==0.0.5
SQLAlchemy==1.4.36
scrapy==2.5.0
scrapy-playwright==0.0.17
uvloop==0.16.0