alembic==1.7.7
aiofiles==0.8.0
Authlib==0.15.5
aws-lambda-powertools==1.26.0
babel==2.10.1
boto3==1.23.7
bcrypt==3.2.2
fastapi==0.78.0
httpx==0.23.0
jinja2==3.1.2
itsdangerous==2.1.2
logzero==1.7.0
mangum==0.15.0
opentelemetry-api==1.11.1
opentelemetry-instrumentation-fastapi==0.26b1
opentelemetry-instrumentation-sqlalchemy==0.26b1
psycopg2-binary==2.9.3
python-multipart==0.0.5
SQLAlchemy==1.4.36
scrapy==2.6.1
scrapy-playwright==0.0.17
uvloop==0.16.0