alembic==1.8.1
aiofiles==0.8.0
Authlib==1.0.1
aws-lambda-powertools==1.27.0
babel==2.10.3
boto3==1.24.56
bcrypt==3.2.2
fastapi==0.79.1
httpx==0.23.0
jinja2==3.1.2
itsdangerous==2.1.2
logzero==1.7.0
mangum==0.15.1
opentelemetry-api==1.12.0
opentelemetry-instrumentation-fastapi==0.26b1
opentelemetry-instrumentation-sqlalchemy==0.26b1
psycopg2-binary==2.9.3
python-multipart==0.0.5
SQLAlchemy==1.4.40
scrapy==2.6.2
scrapy-playwright==0.0.21
uvloop==0.16.0